// Define variables for your color scheme

// For example:
$red: #EB5E55;
$blue: #5863F8;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #5DFDCB;
$gray: #66768F;
$darker-blue: #222831;
$dark-blue: #263141;
$white: #F4FAFF;
