  <div class="banner">
    <div class="banner1 d-flex justify-content-center align-items-center">
      <h1 class="blue">No Sweat/<span class="green">Swap It</span></h1>
    </div>
    <div class="banner2 d-flex justify-content-center align-items-center">
      <h1 class="green">Swap it</h1>
    </div>
  </div>

