  <div class="banner">
    <div class="banner1 d-flex justify-content-center align-items-center">
      <h1 class="blue">No Sweat <span class="white">/</span> <span class="green">Swap It</span></h1>
    </div>
    <div class="banner2 d-flex justify-content-center align-items-center flex-column">
      <h3 class="banner-text">Any easy simple way to exchange items you no longer want, but that are still completely useful</h3>
      <%= link_to "TRY NOW", items_path, class: "btn btn-primary swap-it-btn" %>
    </div>
  </div>

