<%= render 'shared/banner' %>
<div class="container mt-3 mb-5">
  <div class="d-flex justify-content-center align-items-center">
    <h2><%= link_to "Items", items_path, class: "white" %></h2>
  </div>
    <div class="cards">
      <% @items.each do |item| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path item.photos[0].key %>')">
          <%= item.title %>
        </div>
      <% end %>
  </div>
</div>

