<div class="container d-flex flex-column justify-content-center align-items-center mt-5">
  <h2>Your Swap Request Was Sent!</h2>
  <p>If your swap request is accepted you shall see it under succesfull swaps under My Swaps</p>
  <h4><%= link_to "See all Items", items_path, class: "white" %></h4>
</div>
