.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 35px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  height: 35px;
  object-fit: cover;
}

.avatar-bordered-lg {
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  height: 50px;
  object-fit: cover;
}

.avatar-bordered-xlg {
  width: 90px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  height: 90px;
  object-fit: cover;
}

.smile-icon {
  font-size: 50px;
  color: $yellow;
}
