.banner{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  h1 {
    font-size: 5rem;
  }
}
.banner1 {
  background: $dark-blue;
  border-radius: 20px 0px 0px 20px;
  width: 50%;
  height: 30rem;
  margin-right: 5px;
  margin-left: 10px;
}

.banner2 {
  background: $dark-blue;
  border-radius: 0px 20px 20px 0px;
  width: 50%;
  height: 30rem;
  margin-left: 5px;
  margin-right: 10px;
}

.banner-text {
  font-size: 3rem;
  padding: 20px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .banner-text {
    font-size: 2rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .banner-text {
    font-size: 2rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .banner-text {
    font-size: 2.5rem;
  }
}

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .banner-text {
//     font-size: 2rem;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
