.chatroom {
  background: $dark-blue;
  height: calc(100vh - 66px);
  width: 30rem;
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  h1 {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $green;
    margin-bottom: 0;
    text-align: center;
  }
}

#messages {
  padding: 0 1rem;
  padding-top: 1rem;
  overflow: scroll;
  max-height: calc(100vh - 66px - 65px - 71px);
}

#new_message {
  padding: 1rem;
  border-top: 1px solid $green;

  .form-group {
    margin-bottom: 0;
  }
}
