.tag {
  padding: 2px 20px;
}

.tag-selected {
  background-color: $blue;
  border-color: $blue;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
